<div class="ser-license--info">

    <div class="body">
        <div class="key" translate [translateParams]="{KEY: licenseKey}">SMC_LICENSE.INFORMATIONS.SER_LICENSE_KEY</div>
        <div class="key" translate [translateParams]="{KEY: qlikSerial}">SMC_LICENSE.INFORMATIONS.QLIK_LICENSE_KEY</div>
        <div>
            <span class="status" [ngClass]="{'not-valid': !isValid}">
                {{'SMC_LICENSE.INFORMATIONS.LICENSE_' + (isValid ? 'VALID' : 'INVALID') | translate}}
            </span>
            <ul class="errors" *ngIf="validationErrors.length > 0">
                <li *ngFor="let error of validationErrors">
                    {{'SMC_LICENSE.VALIDATION.ERRORS.' + error | translate}}
                </li>
            </ul>
            <ul class="warnings" *ngIf="validationWarnings.length > 0">
                <li *ngFor="let warning of validationWarnings">
                    {{'SMC_LICENSE.VALIDATION.WARNINGS.' + warning | translate}}
                </li>
            </ul>
        </div>
    </div>
</div>