:host {

    .ser-license--info {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .body {

        display: flex;
        flex: 1;

        .key {
            flex: 1 0 0;
        }

        .status {

            flex: 0 0 100px;

            display: flex;
            flex-direction: row-reverse;
            align-items: baseline;
            justify-items: flex-end;

            &:after {
                content: '';
                border: 4px solid;
                color: lightgreen;
                margin-right: 5px;
            }

            &.not-valid:after {
                color: red;
            }
        }

        .errors, .warnings {
            list-style-type: none;
            text-align: right;
            color: red;
            font-size:11px;
        }

        .warnings {
            color: orangered;
        }
    }
}