:host {

    display: block;
    padding: 2px 10px;

    .header {
        color: red;
        margin-bottom: 5px;
    }

    .body {

        a {
            color: #595959;
            font-weight: 800;
            text-decoration: underline;
        }
    }
}