<ng-template #viewCol let-text="text">
    {{(text || '--')}}
</ng-template>

<!-- template user inline edit column -->
<ng-template #editCol let-text="text" let-type="type" let-key="key" let-user="user">
    <ng-container [ngSwitch]="type">

        <!-- datepicker component -->
        <mat-form-field *ngSwitchCase="'datepicker'">
            <input
                matInput
                [matDatepicker]="picker"
                readonly="readonly"
                (dateChange)="onDateChange($event, key)"
                [min]="key==='to'?user.from:-1"
                [max]="key==='from'?user.to: -1"
                [value]="text"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- auto complete component -->
        <mat-form-field *ngSwitchDefault>
            <input 
                type="text" matInput 
                [matAutocomplete]="userAutoComplete"
                (input)="onUserInputChange($event.target.value)"
                [value]="text"
            >
        </mat-form-field>

        <mat-autocomplete #userAutoComplete="matAutocomplete" (optionSelected)="onUserSelected($event)" >
            <mat-option *ngFor="let item of userSuggestions" [value]="item">{{item}}</mat-option>
        </mat-autocomplete>

    </ng-container>
</ng-template>

<smc-ui--list-header [selected]=selection.selected.length [showing]=licensedUserInfo.showing [total]=licensedUserInfo.total [disableActions]="true">
    <ng-container list-header--title>
    <span>
        <i class="ser-icon ser-icon--user"></i>
        <span>{{'SMC_LICENSE.USERS.LABEL' | translate}}</span>
    </span>
    </ng-container>
</smc-ui--list-header>

<div class="user-list--table">
    <table class="table" *ngIf="ready" mat-table multiTemplateDataRows [dataSource]="users">

        <!-- user domain / id column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>{{'SMC_LICENSE.USERS.COLUMN.USER_DOMAIN' | translate}}</th>
            <td mat-cell *matCellDef="let user">
                <ng-template
                    [ngTemplateOutlet]="user.edit?editCol:viewCol" 
                    [ngTemplateOutletContext]="{
                        text: user.user.id,
                        type:'autocomplete',
                        user: user.user
                    }"
                ></ng-template>
            </td>
        </ng-container>

        <!-- user activated from date column -->
        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef>{{'SMC_LICENSE.USERS.COLUMN.ACTIVATED_FROM' | translate}}</th>
            <td mat-cell *matCellDef="let user">
                <ng-template [ngTemplateOutlet]="user.edit?editCol:viewCol" 
                    [ngTemplateOutletContext]="
                        {
                            text: user.user.from,
                            type:'datepicker',
                            key: 'from',
                            user: user.user
                        }
                "></ng-template>
            </td>
        </ng-container>

        <!-- user activated to date column -->
        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef>{{'SMC_LICENSE.USERS.COLUMN.ACTIVATED_UTIL' | translate}}</th>
            <td mat-cell *matCellDef="let user">
                <ng-template [ngTemplateOutlet]="user.edit?editCol:viewCol" 
                    [ngTemplateOutletContext]="
                        {
                            text: user.user.to,
                            type:'datepicker',
                            key: 'to',
                            user: user.user
                        }
                    "></ng-template>
            </td>
        </ng-container>

        <!-- table header row -->
        <tr mat-header-row *matHeaderRowDef="tableHeaderFields; sticky: true"></tr>

        <!-- table row for user details or edit fields -->
        <tr mat-row 
            *matRowDef="let user; columns: tableHeaderFields;" 
            smcMouseDblClick (dblClick)="editUser(user)" (click)="selectUser(user)"
            class="user-table--row"
            [ngClass]="{
                'selected': selection.isSelected(user),
                'edit': currentEditUser === user
            }">
        </tr>
    </table>

    <smc-ui--button-navbar>
        <ng-container *ngIf="mode !== 'edit'">
            <smc-ui--button (click)="addUser()">{{'SMC_LICENSE.USERS.ACTIONS.ADD' | translate }}</smc-ui--button>
            <smc-ui--button [disabled]="!selection.selected.length" (click)="editUser(selection.selected[0])">{{'SMC_LICENSE.USERS.ACTIONS.EDIT' | translate }}</smc-ui--button>
            <smc-ui--button [disabled]="!selection.selected.length" (click)="deleteUser()">{{'SMC_LICENSE.USERS.ACTIONS.DELETE'  | translate }}</smc-ui--button>
        </ng-container>
        <ng-container *ngIf="mode === 'edit'">
            <smc-ui--button (click)="finishEditUser()">{{'SMC_LICENSE.USERS.ACTIONS.APPLY' | translate }}</smc-ui--button>
        </ng-container>
    </smc-ui--button-navbar>
</div>