<div class="qapp-detail">

  <div class="qapp-detail--sidebar sidebar-left">

    <div class="header">
      <a (click)="navigateBack()">
        <i class="lui-icon lui-icon--arrow-up"></i>
        <span>New</span>
      </a>
    </div>

    <!-- <ul class="lui-list">
      <li *ngFor="let app of apps" class="lui-item">
        {{app.qDocId}}
      </li>
    </ul> -->
  </div>

  <div class="qapp-detail--content">

    <div class="qapp-detail--content-header">
      <h3>1. Please set a new app name</h3>
    </div>

    <div class="qapp-detail--content-body">
      <mat-form-field class="form-control">
          <input matInput formControlName="appname" placeholder="app name">
      </mat-form-field>
    </div>

    <app-edit-controls></app-edit-controls>
  </div>

  <div class="qapp-content--sidebar sidebar-right">

    <div class="header">
      Properties
    </div>

    
  </div>
</div>