<div class="qapp-detail">

  <div class="qapp-detail--sidebar sidebar-left">

    <div class="header">
      <a (click)="navigateBack()">
        <i class="lui-icon lui-icon--arrow-up"></i>
        <span>New</span>
      </a>
    </div>

    <!-- <ul class="lui-list">
      <li *ngFor="let app of apps" class="lui-item">
        {{app.qDocId}}
      </li>
    </ul> -->
  </div>

  <div class="qapp-detail--content">
  
    <div class="qapp-stage-header">
      <h1 class="qapp-h1"> <i class="icon-qmc-Task"></i> Please enter a name</h1>
  
    </div>
    <div class="qapp-manage-content-section"></div>
    <div class="qapp-detail--content-body vh100">
      <mat-form-field class="form-control">
        <input matInput [formControl]="formNameControl" placeholder="Enter reportiing app name here">
      </mat-form-field>
    </div>

    <div class="btn-toolbar" style="padding:10px">
      <button class="btn" (click)="apply()">apply</button>
      <button class="btn" (click)="cancel()">cancel</button>
    </div>
  </div>
  
  <div class="qapp-content--sidebar sidebar-right">
  </div>
  </div>