<form [formGroup]="mailForm" *ngIf="mailForm">

    <!-- mail form group -->
    <mat-checkbox formControlName="active">Active</mat-checkbox>

    <mat-form-field class="form-control">
        <input matInput formControlName="to" placeholder="To">
    </mat-form-field>

    <mat-form-field class="form-control">
        <input matInput formControlName="cc" placeholder="Cc:">
    </mat-form-field>

    <mat-form-field class="form-control">
        <input matInput formControlName="bcc" placeholder="Bcc:">
    </mat-form-field>

    <mat-form-field class="form-control">
        <input matInput formControlName="subject" placeholder="Subject">
    </mat-form-field>

    <mat-radio-group formControlName="mailType">
        <mat-radio-button *ngFor="let type of mailTypes" [value]="type.value">
            {{type.label}}
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="form-control">
        <textarea matInput formControlName="message" placeholder="Message"
            mat-autosize="true" [matAutosizeMinRows]=5 [matAutosizeMaxRows]=10></textarea>
    </mat-form-field>
</form>