<ng-template #progressStep let-step="step">
    <i class="ser-icon" [ngClass]="{
        'ser-icon--warning': !step.value.isValid,
        'ser-icon--check': step.value.isValid
    }"></i>
    {{step.key}}
</ng-template>

<div class="header">
    installation invalid
</div>
<div class="body">
    <ul class="lui-list">
        <li class="lui--item" *ngFor="let step of progress | keyvalue:sortIsValid" 
            [ngClass]="{
                'valid': step.value.isValid,
                'invalid': !step.value.isValid
            }">
            <ng-container 
                [ngTemplateOutlet]="progressStep"
                [ngTemplateOutletContext]="{step: step}"
            ></ng-container>
        </li> 
    </ul>
    <div class="notification">
        Please contact your system adminstrator or qlik consultant.
    </div>
</div>