:host {

  display: flex;
  flex-direction: column;
  flex: 0 0 20rem;
  border-right: 1px solid #CCC;

  .library-list--wrapper {
    flex: 1;
    overflow-y: auto;
    overflow-x: none;

    li:hover {
      background: darken($color: #FFF, $amount: 5%);
    }

    li.active {
      background: darken($color: #FFF, $amount: 10%);
    }
  }

  ::ng-deep {
    .btn-upload {

      button {
        width: 100%;
        line-height: 2.4rem;
        border-radius: 0;
        margin: 0;
        border-color: #CCC;
        border-width: 1px 0 0;
        background: #F2F2F2;
        height: auto;
        text-align: left;
        color: #000;
        justify-content: flex-start;
        padding: 0 1rem;

        &:hover {
          border-color: #CCC;
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}
