:host {

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 5px 10px;
        border-bottom: 4px solid #60BF9F;
        background: #595959;
        color: #FFF;
        font-size: 14px;
        line-height: 30px;
    }

    li:nth-child(1) {
        font-weight: 700;

        .ser-icon {
            font-size:17px !important;
        }
    }

    li:nth-child(n+2) {
        margin-left: 24px;
    }
}
