<smc-ui--page [loading]="!ready">

  <!-- CONTENT HEADER -->
  <div page-content--header>
    <i class="ser-icon ser-icon--license"></i>
    <span>License Installation</span>
  </div>

  <!-- CONTENT BODY -->
  <div page-content--body *ngIf="ready">
    <!-- INSTALLATION VALID -->
    <ng-container *ngIf="!isInstallationInvalid">
      <div class="license-block" #licenseInfo>
        <div class="header qmc-page--content-header">
          <i class="ser-icon ser-icon--license"></i>
          <span>License informations</span>
        </div>
        <app-license-info></app-license-info>
      </div>

      <div class="license-block" #licenseOverview>
        <div class="header qmc-page--content-header">
          <i class="ser-icon ser-icon--license"></i>
          <span>License Overview</span>
        </div>
        <smc-license-overview></smc-license-overview>
      </div>

      <div class="license-block" #licensedUsers>
        <div class="header qmc-page--content-header">
          <i class="ser-icon ser-icon--license"></i>
          <span>Licensed Users</span>
        </div>
        <smc-license-user></smc-license-user>
      </div>
    </ng-container>

    <!-- INSTALLATION INVALID -->
    <ng-container *ngIf="isInstallationInvalid">
        <smc-license-error [progress]="installationProgress"></smc-license-error>
    </ng-container>
  </div>

  <!-- CONTENT FOOTER -->
  <div page-content--footer>
    <smc-ui--button-navbar>
      <smc-ui--button (click)="saveLicense()" *ngIf="!isInstallationInvalid">Apply</smc-ui--button>
      <smc-ui--button (click)="reload()" *ngIf="isInstallationInvalid">Reload</smc-ui--button>
    </smc-ui--button-navbar>
  </div>

  <!-- SIDEBAR LEFT -->
  <div page-sidebar--left>
    <div class="header sidebar-content">
      <a (click)="navigateBack()">
        <i class="lui-icon lui-icon--arrow-up"></i>
        <span>Start</span>
      </a>
    </div>

    <ul class="lui-list overview">
      <li class="lui-item">
        License
      </li>
    </ul>
  </div>

  <!-- SIDEBAR RIGHT -->
  <div page-sidebar--right>
    <div class="header">
      Properties
    </div>

    <ul class="lui-list">
      <li class="lui-item" (click)="showPagePart(property, property.part)" *ngFor="let property of properties"
        [ngClass]="{'active': property == selectedProperty}">
        {{property.label}}
      </li>
    </ul>
  </div>

</smc-ui--page>
