<div class="distribution-form">
    <h3 class="header header-secondary">Distribution</h3>
    <!-- complete form -->
    <mat-tab-group [@.disabled]="true" [dynamicHeight]=true>
        <mat-tab label="Email">
            <smc-apps--edit-form-distribution-mail></smc-apps--edit-form-distribution-mail>
        </mat-tab>
        <mat-tab label="File">
            <smc-apps--edit-form-distribution-file></smc-apps--edit-form-distribution-file>
        </mat-tab>
        <mat-tab label="Hub">
            <smc-apps--edit-form-distribution-hub></smc-apps--edit-form-distribution-hub>
        </mat-tab>
    </mat-tab-group>
</div>
