<div class="qapp-detail">

    <div class="qapp-detail--sidebar sidebar">

        <ul class="lui-list">

            <li class="lui-item">
                <a (click)="navigateBack()">back</a>
            </li>

            <li class="lui-item">2</li>
            <li class="lui-item">3</li>
            <li class="lui-item">4</li>
            <li class="lui-item">5</li>
        </ul>
    </div>

    <div class="qapp-detail--content">

        <div class="qapp-detail--content-header">
            <h3>Detailansicht Applikation</h3>
        </div>

        <div class="qapp-detail--content-body">
            <app-distribution></app-distribution>
        </div>
    </div>
</div>