@import "~src/skin/scss/mixins/utils";

:host {

    .mat-form-field {
        width: 100%;
        margin-bottom: -1rem;

        .mat-form-field-underline {
            display: none;
        }
    }
    
    .user-table--row {

        &.actions {
            display: none;
        }

        &.selected {
            background: #737373;
            color: #FFF;
        }
    }

    .user-table--row.edit {

        + .user-table--row.actions {
            display: table-row;
        }

        &:after {
            content: '';
            display: block;
            border-bottom: 1px solid #000;
        }
    }

    .user-table--row.actions {

        td {
            padding-top: 0;
            padding-bottom: .25rem;
        }

        button {
            margin: 0 0 0 auto;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border: 0;
            background: #D9D9D9;
            position: relative;
            z-index: 10;
            color: inherit;

            &:hover {
                box-shadow: none;
            }
        }
    }

    .user-list--table {

        table.mat-table {
            margin-bottom: 0;
        }
    }

    .user-list--header {

        @include display-flex;
        align-items: baseline;
        background: #595959;
        color: #FFF;
        justify-content: space-between;
        padding: .4rem .7rem;

        button, ul {
            margin: 0;
        }
    }

    .user-list--footer {

        @include display-flex;
        align-items: baseline;
        background: #595959;
        color: #FFF;
        justify-content: space-between;
        padding: .4rem .7rem;

        button {
            background-image: linear-gradient(to bottom, #4D4D4D, #333333);
            border: 1px solid #333333;
            margin: 0 1rem 0 0;

            &:last-child {
                margin: 0;
            }

            &[disabled] {
                color: darken($color: #FFF, $amount: 30);
                background-image: linear-gradient(to bottom, lighten(#4D4D4D, 7), lighten(#333333, 7));
                border: 1px solid lighten(#333333, 7);
                cursor: not-allowed;
            }
        }
    }
}
