:host {

    .mat-form-field {
        width: 100%;
        margin-bottom: -1rem;

        .mat-form-field-underline {
            display: none;
        }
    }
    
    .user-table--row {

        &.actions {
            display: none;
        }
    }

    .user-table--row.edit {

        + .user-table--row.actions {
            display: table-row;
        }

        &:after {
            content: '';
            display: block;
            border-bottom: 1px solid #000;
        }
    }

    .user-table--row.actions {

        td {
            padding-top: 0;
            padding-bottom: .25rem;
        }

        button {
            margin: 0 0 0 auto;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border: 0;
            background: #D9D9D9;
            position: relative;
            z-index: 10;
            color: inherit;

            &:hover {
                box-shadow: none;
            }
        }
    }
}
