:host {

    .header {
        color: red;
        margin-bottom: 5px;
    }

    .body {

        a {
            color: #595959;
            font-weight: 800;
            text-decoration: underline;
        }
    }
}