<div *ngIf="!isLoading">
    <header class="header">Execution</header>

    <div [formGroup]="executionForm">

        <mat-checkbox formControlName="enabled">Enabled</mat-checkbox>

        <mat-form-field class="form-control">
            <input matInput formControlName="taskSessionTimeout" placeholder="Session Timeout" type="number">
        </mat-form-field>

        <mat-form-field class="form-control">
            <input matInput formControlName="maxRetries" placeholder="maxRetries" type="number">
        </mat-form-field>
    </div>
</div>