<div *ngIf="excutionForm">
    <header class="header">Execution</header>

    <div [formGroup]="excutionForm">

        <mat-checkbox formControlName="enabled">Enabled</mat-checkbox>

        <mat-form-field class="form-control">
            <input matInput formControlName="timeout" placeholder="Session Timeout" type="number">
        </mat-form-field>

        <mat-form-field class="form-control">
            <input matInput formControlName="maxRetries" placeholder="maxRetries" type="number">
        </mat-form-field>
    </div>
</div>