<ng-container *ngIf="isReady">

    <div class="license-view">

        <div class="license-view--content" [innerHtml]="licenseData|nl2br">
            <ng-container *ngIf="licenseData === ''"> no license</ng-container>
        </div>

        <div class="btn-toolbar flex-row-reverse insert-overlay--footer">
            <button class="btn" (click)="insertLicense()" >{{(!this.licenseData.length ? 'Insert' : 'Edit')}} License</button>
            <button type="button" class="btn btn-secondary" (click)="loadFromServer()">Load From Server</button>
        </div>
    </div>
</ng-container>