:host {

  width: 100%;

  [page-content--body] {
    .header {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .lui-list {
      font-size: .8rem;
      list-style-type: initial;
      padding: 0 0 0 1.1rem;
    }

    .lui--item {
      margin-bottom: 5px;
    }
  }

  .notification {
    margin-top: 10px;
  }
}
