:host {

    width: 100%;

    .header {
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 10px; 
    }

    .lui--item {

        margin-bottom: 5px;

        &.valid {
            color: green;
        }

        &.invalid {
            color: red;
        }
    }

    .notification {
        margin-top: 10px;
    }
}
