<div class="scroll-list--wrapper">
  <cdk-virtual-scroll-viewport class="list-container lg" [itemSize]="40" ngxCustomScrollbarScrollable>
    <div *cdkVirtualFor="let item of items" class="list-group-item">
      {{item.title}}
      <i class="ser-icon ser-icon--remove" (click)="controller.remove(item)"></i>
    </div>
  </cdk-virtual-scroll-viewport>
  <ngx-customscrollbar></ngx-customscrollbar>
</div>
<smc-ui--button [disabled]="!items.length" (click)="clearAll()" class="clear-all btn-lighten" [label]="'SER.TEMPLATE.SELECTIONS.CLEAR_VALUES' | translate">
  <i btn-icon--right class="ser-icon ser-icon--trash"></i>
</smc-ui--button>
