:host {

  display: flex;
  flex-direction: column;

  .selection-tile--header {

    display: inline-block;
    margin-left: auto;
    background: #787878;
    border-radius: 0 5px 0 10px;
    padding: .5rem 1rem;
    text-align: center;
    cursor: pointer;

    .ser-icon {
      margin: 0;
      font-size: 1rem;
      color: white;
    }
  }
}
