<ng-container *ngIf="selectionForm">
  <div class="selection-tile">

    <div class="selection-tile--header" (click)="deleteSelection()">
      <i class="ser-icon ser-icon--remove"></i>
    </div>

    <div [formGroup]="selectionForm" class="selection-form">
      <!-- selection type -->
      <mat-form-field class="form-control">
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of selectionTypes" [value]="type.value">
            {{type.label | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container formGroupName="selection">
        <!-- selection object type -->
        <mat-form-field class="form-control">
          <mat-select formControlName="objectType">
            <mat-option *ngFor="let type of selectionObjectTypes" [value]="type.value">
              {{type.label | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>

    <!-- bookmark -->
    <ng-container [ngSwitch]="templateSelection.objectType">

      <div *ngSwitchCase="'bookmark'" class="selection-bookmark">
        <smc-template-selections--bookmark [selection]="templateSelection"> </smc-template-selections--bookmark>
      </div>

      <ng-container *ngSwitchDefault>
        <smc-template-selections--field [selection]="templateSelection"></smc-template-selections--field>
      </ng-container>
    </ng-container>

  </div>
</ng-container>
