<ng-container *ngIf="isReady">

    <div class="license-view">

        <div class="license-view--content" [innerHtml]="licenseData|nl2br">
            <ng-container *ngIf="licenseData === ''"> no license</ng-container>
        </div>

        <div class="btn-toolbar flex-row-reverse insert-overlay--footer">
            <ng-container *ngIf="!licenseData.length">
                <button class="btn" (click)="insertLicense()" >{{'SMC_LICENSE.OVERVIEW.ACTIONS.INSERT' | translate}}</button>
            </ng-container>
            <ng-container *ngIf="licenseData.length">
                <button class="btn" (click)="editLicense()" >{{'SMC_LICENSE.OVERVIEW.ACTIONS.EDIT' | translate}}</button>
            </ng-container>
            <button type="button" class="btn btn-secondary" (click)="loadFromServer()">{{'SMC_LICENSE.OVERVIEW.ACTIONS.LOAD' | translate}}</button>
        </div>
    </div>
</ng-container>