:host {

    table {

        th, td {
            vertical-align: middle;
            width: 33%;
        }

        /** action column */
        th:nth-child(4),
        td:nth-child(4) {
            width: 1%;
        }

        /** action column */
        td:nth-child(4) button {
            margin: 0;
            background: none;
            border: none;
            border-radius: unset;
            min-width: 50px;
            height: auto;
            margin: 0;
            padding:0;
            outline: none;

            .ser-icon {
                color: red;
                font-size: 1rem;
                margin-right: 0;
            }
        }
    }
}