<h3>Template</h3>
<ng-container *ngIf="templateForm">
    <div [formGroup]="templateForm">
        <mat-form-field class="form-control">
            <input matInput formControlName="input" placeholder="Template Input">
        </mat-form-field>

        <div class="row">
            <div class="col col-md-9">
                <mat-form-field class="form-control">
                    <input matInput formControlName="output" placeholder="Template Output">
                </mat-form-field>
            </div>
            <div class="col col-md-3">
                <div class="btn-group float-md-right">
                    <button (click)="setOutput('pdf')" class="btn">PDF</button>
                    <button (click)="setOutput('xls')" class="btn">XLS</button>
                    <button (click)="setOutput('xlsx')" class="btn">XLSX</button>
                </div>
            </div>
        </div>

        <mat-form-field class="form-control">
            <input matInput formControlName="outputFormat" placeholder="Template Output Format">
        </mat-form-field>

        <mat-form-field class="form-control">
            <input matInput formControlName="outputPassword" placeholder="Template Output Password">
        </mat-form-field>

        <mat-checkbox formControlName="generated">
            Generated
        </mat-checkbox>
    </div>
</ng-container>