<router-outlet></router-outlet>

<div class="qmc-page qmc-page--edit" [style.display]="isSubRoute ? 'none': 'flex'">

        <div class="qmc-page--sidebar sidebar-left">

            <div class="header sidebar-content">
                <a (click)="navigateBack()">
                    <i class="lui-icon lui-icon--arrow-up"></i>
                    <span>Applications</span>
                </a>
            </div>

            <ul class="lui-list">
                <li *ngFor="let app of apps" class="lui-item">
                    {{app.qDocName}}
                </li>
            </ul>
        </div>

        <div class="qmc-page--content">
            <div class="header qmc-page--content-header">
                <h3>Detailansicht Applikation</h3>
            </div>
            <div class="qmc-page--content-body">
                <div class="content">
                    <ng-container>
                        <div #connections class="edit-group">
                            <smc-apps--edit-form-connection></smc-apps--edit-form-connection>
                        </div>
                        <div #template class="edit-group">
                            <smc-edit-form-template></smc-edit-form-template>
                        </div>
                        <div #selections class="edit-group">
                            <smc-edit-form-selections></smc-edit-form-selections>
                        </div>
                        <div #distribute class="edit-group">
                            <smc-apps--edit-form-distribution></smc-apps--edit-form-distribution>
                        </div> 
                        <div #settings class="edit-group">
                            <smc-edit-form-settings></smc-edit-form-settings>
                        </div>
                    </ng-container>
                </div>
            </div>
            <smc-edit-controls (apply)="save()" (cancel)="cancel()" (preview)="preview()"></smc-edit-controls>
        </div>

        <div class="qmc-page--sidebar sidebar-right">

            <div class="header">
                Properties
            </div>

            <ul class="lui-list">
                <li class="lui-item" 
                    (click)="showForm(property)"
                    *ngFor="let property of properties"
                    [ngClass]="{'active': property == selectedProperty}" >
                    {{property.label}}
                </li>
            </ul>

            <ng-container *ngIf="associatedItems && associatedItems.length">
                <div class="header">
                    Associated Items
                </div>
                <ul class="lui-list">
                    <li class="lui-item" *ngFor="let item of associatedItems">
                        <a (click)="showTasks()">{{item.label}} ({{item.count}})</a>
                    </li>
                </ul>
            </ng-container>
        </div>
</div>