<smc-page [disablePadding]="true" [loading]="isLoading">

  <!-- page header -->
  <div page-content--header>
    <smc-list--header [selected]=selection.selected.length [showing]=tasks.length [total]=tasks.length [disableActions]="true" (reload)="reloadList()">
      <ng-container list-header--title>
        <span>
          <i class="ser-icon ser-icon--tasks"></i>
          Tasks
        </span>
      </ng-container>
    </smc-list--header>
  </div>

  <!-- page content -->
  <div page-content--body>

    <table class="table" mat-table [dataSource]="tasks">

      <ng-container *ngFor="let column of tableHeaderFields" matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef>{{column}}</th>
        <ng-container *matCellDef="let col">
          <td mat-cell>{{col[column]}}</td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableHeaderFields"></tr>
      <tr mat-row *matRowDef="let row; columns: tableHeaderFields;" [ngClass]="{'selected': selection.isSelected(row)}"
        appMouseDblClick (click)="selectTask(row)" (dblClick)="editTask()">
      </tr>
    </table>
  </div>

  <!-- page footer -->
  <div page-content--footer>
    <nav class="navbar navbar-expand-lg action-bar-bottom">
      <div class="btn-toolbar" role="group">
        <button type="button" [disabled]="selection.isEmpty() || isLoading" class="nav-item mr-4" (click)="editTask()">
          <span class="button-label">
            Edit
          </span>
        </button>
        <button type="button" class="nav-item" [disabled]="isLoading" (click)="syncTasks()">
          <span class="button-label">
            Synchronize Tasks
          </span>
        </button>
        <button type="button" [disabled]="isLoading" class="nav-item" (click)="createNew()">
          <span class="button-label">
            Create new
          </span>
        </button>
      </div>
    </nav>
  </div>
</smc-page>
