:host {
  button {
    outline: none;
    box-shadow: none;
    border: 1px solid #333;
  }

  button[disabled] {
    color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, .2);
  }

  button:hover {
    outline: none;
    border-color: white;
    box-shadow: 0px 0px 0px 1px white;
  }

  button[disabled] {

    ::ng-deep {
      i {
        color: rgba($color: #595959, $alpha: .2);
      }

      * {
        pointer-events: none;
      }
    }
  }

  ::ng-deep {

    i.ser-icon {
      font-size: 13px;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      align-self: center;
      font-weight: 500;
      margin: 0;
      line-height: 1.1rem;
      color: rgba($color: #595959, $alpha: 1);

      &:before {
        display: inline;
      }

      &.ser-icon--close {
        margin: 0 0 0 .3rem;
      }
    }
  }
}

:host-context(.smcUi-theme--light) {

  button {
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
    color: #595959;
    background: #E6E6E6;
  }

  i.ser-icon {
    background: rgba(89, 89, 89, .6);
    color: #FFF;
  }
}

:host-context(.btn-lighten) {
  button {
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
    border: 1px solid #CCC;
    color: #595959;
    font-weight: 700;
  }

  button[disabled] {
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
    color: rgba(89, 89, 89, 0.4);
  }
}

:host-context(.btn-small) {

  button {
    height: auto;
    line-height: initial;
  }

  i.ser-icon {
    font-size: 9px;
    height: .9rem;
    width: .9rem;
    line-height: 1rem;
  }
}
