<nav class="navbar navbar-expand top-bar">

    <div class="navbar-group navbar-group--left">
        <div class="navbar-brand">
            <img src="assets/top-header-logo-ser.svg" alt="ser" width="35">
        </div>

        <div class="btn-group">
            <button class="btn">
                <a routerLink="" routerLinkActive="router-link-active" >
                    Start
                </a>
            </button>
            <app-drop-down [hostClass]="['top-bar--menu','menu-main']" (show)="showMenuOverlay($event)">
                <app-menu [menuItems]="mainMenu"></app-menu>
            </app-drop-down>
        </div>
    </div>

    <div class="navbar-group navbar-group--right">

        <app-drop-down [hostClass]="'top-bar--menu'" [label]="'Hilfe'" (show)="showMenuOverlay($event)">
            <app-menu [menuItems]="helpMenu"></app-menu>
        </app-drop-down>

        <app-drop-down [hostClass]="'top-bar--menu'" [label]="loggedInUser.userId" (show)="showMenuOverlay($event)">
            <app-menu [menuItems]="userMenu"></app-menu>
        </app-drop-down>
    </div>
</nav>