<div class="list-header--title">
    <ng-content select="[list-header--title]"></ng-content>
</div>
<ul class="list-header">
    <li class="list-item">
        Total: {{total}}
    </li>
    <li class="list-item">
        Showing: {{showing}}
    </li>
    <li class="list-item">
        Selected: {{selected}}
    </li>
</ul>
<div class="list-header--actions">
    <ng-content select="[list-header--actions]"></ng-content>

    <!-- button toolbar -->
    <nav class="navbar list-header--actions-navbar">
        <div class="btn-toolbar" role="group">
        <button type="button" class="btn" (click)="doReload()">
            <i class="ser-icon ser-icon--reload"></i>
        </button>
        </div>
    </nav>
</div>