:host {

    display: flex;
    width: 100%;
    align-items: baseline;

    ul {
        flex: 1;
        list-style-type: none;
        display: flex;
        margin: 0;
        background: #595959;
        color: #FFF;
        font-size: 14px;
        line-height: 30px;

        li:nth-child(1) {
            font-weight: 700;

            .ser-icon {
                font-size:17px !important;
            }
        }

        li:nth-child(n+2) {
            margin-left: 24px;
        }
    }

    .list-header--actions {

        display: flex;
        align-items: baseline;

        ::ng-deep .btn {
            min-width: auto;
            width: auto;
            margin: 0;
            border: 0;
            border-radius: 0;
            background: none;
            box-shadow: none;

            i.ser-icon {
                color: rgba(#FFF, .6);
                margin: 0;
            }
        }
    }

    .list-header--actions-navbar {
        padding: 0;
    }
}