<ng-template #tableCell>
</ng-template>

<smc-page>
  <!-- page header -->
  <div page-content--header>
    <smc-list--header [selected]=0 [showing]=visible [total]=total>

      <ng-container list-header--title>
        Title
      </ng-container>

      <ng-container list-header--actions>
        <smc-pagination--navigation></smc-pagination--navigation>
      </ng-container>

    </smc-list--header>
  </div>

  <!-- page content -->
  <div page-content--body>

    <div class="smc-shared-content--list">
      <table class="table" mat-table [dataSource]="tableData">

        <ng-container *ngFor="let column of columns" matColumnDef="{{column}}">
          <th mat-header-cell *matHeaderCellDef>{{column}}</th>

          <ng-container *matCellDef="let col">
            <ng-container [ngSwitch]="column">
              <td *ngSwitchCase="'metaData'"     mat-cell matTooltipClass="tooltip-pre" matTooltip="{{col[column][0] | hjson}}">Metadata</td>
              <td *ngSwitchCase="'createdDate'"  mat-cell>{{col[column] | momentFormat}}</td>
              <td *ngSwitchCase="'modifiedDate'" mat-cell>{{col[column] | momentFormat}}</td>
              <td *ngSwitchCase="'owner'"        mat-cell>{{col[column].userDirectory}}/{{col[column].userId}}</td>
              <td *ngSwitchDefault               mat-cell>{{col[column]}}</td>
            </ng-container>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;" (click)="selectSharedContent(row)" [ngClass]="{'selected': selections.isSelected(row)}"></tr>
      </table>
    </div>
  </div>

  <!-- page footer -->
  <div page-content--footer>
    <nav class="navbar navbar-expand-lg action-bar-bottom">
      <div class="btn-toolbar" role="group">
        <button type="button" class="nav-item mr-4" (click)="deleteApps()">
          <span class="button-label">
            Delete
          </span>
        </button>
      </div>
    </nav>
  </div>
</smc-page>
