<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">

    <div class="header">
        <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="" routerLinkActive="router-link-active" >
                        Start
                    </a>
                </li>
            </ul>
        </nav>
        <app-breadcrumb></app-breadcrumb>
    </div>

    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>