<!-- display license page to edit or show detailed informations -->
<ng-template #monitoringTemplate>

    <div class="qmc-page--content-body">
        <app-monitoring-process-list></app-monitoring-process-list>
    </div>

    <div class="qmc-page--content-footer">
        <nav class="navbar navbar-light bg-light">
            <button class="btn btn-primary" (click)="doRefresh()" >
                Refresh
            </button>

            <form class="form-inline">
                <label>
                    <input class="form-control" type="checkbox">
                    Autorefresh
                </label>
            </form>

            <button class="btn btn-primary" (click)="stopAll()" >
                Stop All
            </button>
        </nav>
    </div>
</ng-template>

<!-- if installation is invalid display error page -->
<ng-template #errorTemplate>
    <div class="qmc-page--content-body">
        <app-monitoring-error></app-monitoring-error>
    </div>
</ng-template>


<div class="qmc-page" *ngIf="ready">
    <div class="qmc-page--content">

        <div class="header qmc-page--content-header">
            <i class="ser-icon ser-icon--streams"></i>
            <span>Monitoring SER Apps</span>
        </div>

        <ng-container>
            <ng-container *ngTemplateOutlet="hasError ? errorTemplate : monitoringTemplate">
            </ng-container>
        </ng-container>
    </div>
</div>