.ser-icon {
    display: inline-block;
    font-family: "LUI icons";
    font-size: inherit;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    direction: ltr;
    margin-right: 10px;
}

.ser-icon--apps {
    &:before { content: "\077"; }
}

.ser-icon--tasks {
    &:before { content: "\078"; }
}

.ser-icon--streams {
    &:before { content: "\0E3"; }
}

.ser-icon--license {
    &:before { content: "\0E4"; }
}

.ser-icon--load {
    &:before { content: "\0F4"; }
}

.ser-icon--engines {
    &:before { content: "\07B"; }
}

.ser-icon--arrow-up {
    content: "\052"; 
}

.icon--right {

    position: relative;
    padding: 0 30px 0 0;

    &:after { 
        position: absolute;
        @extend .ser-icon;
        content: "\053"; 
        right: 0;
    }
}
