.-overlay--modal {

    .ser-modal--body {
        padding: 20px;
        background: #FFF;
    }

    .ser-modal--footer {
        padding: .5rem 20px;

        .btn {
            margin-top: 0;
        }
    }
}