html, body { height: 100%; }
body {
    margin: 0; 
    font-family: 'QlikView Sans', sans-serif;
}

.app-container {
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    flex-direction: column;
}

.app-body {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.flex-container {
    display: flex;
    height: 100%;
}

body {
    background: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}