html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.app-container {
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    flex-direction: column;
}

.app-body {
    display: flex;
    flex: 1 0 auto;
}

.flex-container {
    display: flex;
    height: 100%;
}

body {
    background: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}