@font-face {
    font-family: "LUI icons";
    src: url(~/leonardo-ui/dist/lui-icons.woff) format('woff'),
         url(~/leonardo-ui/dist/lui-icons.ttf) format('truetype');
}

@font-face {
    font-family: "QlikView Sans";
    src: url(../fonts/qlikview-sans-webfont.woff2) format('woff'),
         url(../fonts/qlikview-sans.ttf) format('truetype');
}