<h3 class="header header-secondary">{{'SMC_APPS.EDIT.PROPERTIES.ITEM.APP' | translate}}</h3>
<ng-container *ngIf="connectionForm">
  <div [formGroup]="connectionForm">

    <mat-form-field class="form-control">
      <input type="text" matInput formControlName="app" [matAutocomplete]="auto" (input)="onSuggestInput($event)">
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAppSelect($event)">
      <mat-option *ngFor="let app of suggestedApps" [value]="app">
        {{app.name}}
      </mat-option>
    </mat-autocomplete>
  </div>
</ng-container>
