<h3 class="header header-secondary">{{'SMC_APPS.EDIT.PROPERTIES.ITEM.APP' | translate}}</h3>
<div class="form-wrapper" *ngIf="connectionForm">
  <div [formGroup]="connectionForm" class="form">
    <mat-form-field class="form-control">
      <input type="text" matInput formControlName="app" [matAutocomplete]="auto" (input)="onSuggestInput($event)">
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAppSelect($event)">
      <mat-option *ngFor="let app of suggestedApps" [value]="app">
        {{app.qDocName}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div [ngClass]="{'connected': isConnected}">
    <smc-ui--button class="btn-lighten" *ngIf="!isConnected" (click)="connectToApp()" [disabled]="!this.selectedAppId">
      <i class="ser-icon ser-icon--disconnect"></i>
      Connect to app
    </smc-ui--button>
    <smc-ui--button class="btn-lighten" *ngIf="isConnected" (click)="disconnectFromApp()">
      <i class="ser-icon ser-icon--disconnect"></i>
      Disconnect
    </smc-ui--button>
  </div>
</div>
