app-qlik app-list {

    display: flex;
    flex-direction: column;
    height: 100%;

    .qapp-list--table {
        flex: 1 1 0;
        background: #FFF;

        .mat-row {
            height: auto;
            line-height: 2.5rem;
        }

        .mat-row.selected {
            background: #737373;
            color: #FFF;
        }

        .mat-cell {
            color: inherit;
        }
    }

    .qapp-list--actions {
        
    }
}