<div class="ser-task--edit-form qmc-page qmc-page--edit" [style.display]="isPreview ? 'none': 'flex'">

        <div class="qmc-page--sidebar sidebar-left">

            <div class="header sidebar-content">
                <a (click)="navigateBack()">
                    <i class="lui-icon lui-icon--arrow-up"></i>
                    <span>Tasks</span>
                </a>
            </div>

            <ul class="lui-list">
                <li class="lui-item" *ngFor="let task of tasks">
                    {{task.name}}
                </li>
            </ul>
        </div>

        <div class="qmc-page--content">

            <div class="header qmc-page--content-header">
                <i class="ser-icon ser-icon--tasks"></i>
                <span>Edit Reload Task</span>
            </div>

            <div class="qmc-page--content-body">
                <ng-container *ngIf="formDataLoaded">
                    <div #identification class="edit-group">
                        <app-task-form-identification></app-task-form-identification>
                    </div>
                    <div #execution class="edit-group">
                        <app-task-form-execution #execution></app-task-form-execution>
                    </div>
                    <div #trigger class="edit-group">
                        <app-task-form-trigger #trigger></app-task-form-trigger>
                    </div>
                </ng-container>
                <mat-spinner *ngIf="!formDataLoaded"></mat-spinner>
            </div>

            <div class="qmc-page--content-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-secondary" (click)="onApply()">apply</button>
                    <button type="button" class="btn btn-secondary" (click)="onCancel()">cancel</button>
                </div>
            </div>
        </div>

        <div class="qmc-page--sidebar sidebar-right">

            <div class="header">
                Properties
            </div>

            <ul class="lui-list">
                <li class="lui-item" 
                    (click)="showForm(property)"
                    *ngFor="let property of properties"
                    [ngClass]="{'active': property == selectedProperty}" >
                    {{property.label}}
                </li>
            </ul>
        </div>
</div>