<form [formGroup]="fileForm" *ngIf="fileForm">

    <mat-checkbox formControlName="active">Active</mat-checkbox>

    <mat-form-field class="form-control">
        <input matInput formControlName="target" placeholder="Target" >
    </mat-form-field>

    <mat-form-field class="form-control">
        <input matInput formControlName="connections" placeholder="Connections" >
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-select formControlName="mode" placeholder="Distribution Mode">
            <mat-option *ngFor="let mode of distributionModes" [value]="mode">
                {{mode.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>