<div *ngIf="generalForm">

    <h3>Settings</h3>

    <mat-tab-group [@.disabled]="true">
        <mat-tab label="General Settings">
            <div [formGroup]="generalForm">
                <mat-form-field class="form-control">
                    <input matInput formControlName="cleanupTimeOut" placeholder="Clean Up Timeout">
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput formControlName="timeout" placeholder="Timeout">
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput formControlName="errorRepeatCount" placeholder="Error Repeat Count">
                </mat-form-field>

                <mat-checkbox formControlName="useSandbox">use Sandbox</mat-checkbox>

                <mat-form-field class="form-control">
                    <input matInput formControlName="taskCount" placeholder="Task Count">
                </mat-form-field>

                <mat-form-field class="form-control">
                    <mat-select formControlName="useUserSelections" placeholder="Selectionmode">
                        <mat-option *ngFor="let mode of userSelectionMode" [value]="mode.value">
                            {{mode.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-tab>

        <mat-tab label="Email Server">
            <div [formGroup]="mailServerSettingsForm">
                <mat-form-field class="form-control">
                    <input matInput formControlName="host" placeholder="Host">
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput formControlName="from" placeholder="From">
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput formControlName="port" placeholder="Port">
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput formControlName="username" placeholder="Username">
                </mat-form-field>

                <mat-form-field class="form-control">
                    <input matInput formControlName="password" placeholder="Password">
                </mat-form-field>

                <mat-checkbox formControlName="useSsl">connect with Ssl</mat-checkbox>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>