:host {

    padding: .5rem 0;

    .button-group {
        display: flex;
        flex-direction: row;
    }

    .btn {
        border-radius: 6px;
        margin-left: 1rem;
        margin-right: 0;
    }

    .btn--right {
        margin-right: 0;
        margin-left: auto;
    }
}