$breadcrumb-list-height: 36px;

.breadcrumb-list {

    display: flex;
    list-style-type: none;
    margin: 0 0 .5rem;
    padding: 0;

    background: #1A1A1A;

    .breadcrumb-list--item {
        padding: 0 10px 0 20px;
        line-height: $breadcrumb-list-height;
        background: #1A1A1A;
        position: relative;
        color: #FFF;
        font-size: 13px;
        font-family: "QlikView Sans", sans-serif;
        &:after {
            content: "";
            position: absolute;
            left: 100%;
            top: 0;
            z-index: 1;
            border-top: $breadcrumb-list-height / 2 solid transparent;
            border-left: 1rem solid #1A1A1A;
            border-bottom: $breadcrumb-list-height / 2 solid transparent;
        }

        &:last-child {
            background: #666;
            padding-left: 2.5rem;
        }

        &:last-child:after {
            border-left-color: #666;
        }
    }
}