:host {

    dl {
        display: flex;
        flex-direction: row;
        font-weight: normal;
        margin: 0;
    }

    dd, dt {
        font-weight: inherit;
        margin-right: 3px;
        margin-bottom: 0;
    }

    dd {
        margin-right: 24px;
    }
}
