    /**
     *
     *
     * @memberof DropDownComponent
     */

    .lui-list {

        .ser-icon {
            font-size: 12px;
            margin: 0px 5px 0 0;

            &:before {
                text-align: right;
                margin: 0;
            }
        }

        .lui-list--item {
            padding: 0;
            padding: 0 10px;
            font-size: 13px;
            border: none;
            border-left: solid 4px #60BF91;
            background: #595959;
            margin-bottom: 1px;
        }

        .lui-list--item.disabled {
            color: darken(#FFF, 20);
        }

        .lui-list--text {
            padding: 0;
        }

        .lui-list--text a,
        .lui-list--text span {
            line-height: 24px;
        }

        .lui-list--header {
            background: transparent;
            line-height: 34px;
            text-transform: uppercase;
            border-left: 4px solid transparent;
        }
    }