<h3 class="header header-secondary">{{'SMC_APPS.EDIT.PROPERTIES.ITEM.SELECTIONS' | translate}}</h3>
<ng-container *ngIf="selectionForm">
  <div [formGroup]="selectionForm">

    <!-- selection type -->
    <mat-form-field class="form-control">
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of selectionTypes" [value]="type.value">
          {{type.label | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container formGroupName="selection">

      <!-- selection object type -->
      <mat-form-field class="form-control" [hidden]="selectionForm.controls.selection.controls.objectType.disabled">
        <mat-select formControlName="objectType">
          <mat-option *ngFor="let type of selectionObjectTypes" [value]="type.value">
            {{type.label | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- selection name -->
      <smc-ui--item-list [remoteSource]="appDimensionConnector" [items]="selectionSource" [mode]="single" [label]="'Dimension,Field or something else'"></smc-ui--item-list>

      <!-- selection value -->
      <smc-ui--item-list [remoteSource]="appValueConnector" [items]="selectedValues" [label]="'Selection value'"></smc-ui--item-list>

    </ng-container>
  </div>
</ng-container>
