<h3 class="header header-secondary">{{'SMC_APPS.EDIT.PROPERTIES.ITEM.TEMPLATE' | translate}}</h3>
<ng-container *ngIf="templateForm">
    <div [formGroup]="templateForm">

        <div class="row">
            <div class="col">
                <mat-form-field class="form-control">
                    <input matInput formControlName="input" placeholder="{{'SMC_APPS.EDIT.FORM.TEMPLATE.TEMPLATE_INPUT' | translate}}">
                </mat-form-field>
            </div>
            <div class="col-sm col-sm-auto align-self-center">
                <smc-ui--button 
                    class="btn-lighten" 
                    smcTemplateInputSelect (select)="selectTemplate($event)"
                    [label]="'SMC_APPS.EDIT.FORM.TEMPLATE.TEMPLATE_SELECT' | translate"
                >
                    <i class="ser-icon ser-icon--search" btn-icon--left></i>
                </smc-ui--button>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-9">
                <mat-form-field class="form-control">
                    <input matInput formControlName="output" placeholder="{{'SMC_APPS.EDIT.FORM.TEMPLATE.TEMPLATE_OUTPUT' | translate}}">
                </mat-form-field>
            </div>
            <div class="col col-md-3">
                <mat-form-field class="form-control">
                    <mat-select placeholder="{{'SMC_APPS.EDIT.FORM.TEMPLATE.OUTPUT_FORMAT' | translate}}" (selectionChange)="setOutput($event)">
                        <mat-option *ngFor="let format of outputFormats" [value]="format">
                            {{format}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <mat-form-field class="form-control">
            <input matInput formControlName="outputPassword" placeholder="{{'SMC_APPS.EDIT.FORM.TEMPLATE.TEMPLATE_OUTPUT_PASSWORD' | translate}}">
        </mat-form-field>
    </div>
</ng-container>