<!-- display license page to edit or show detailed informations -->
<ng-template #licenseTemplate>
    <div class="qmc-page--content-body">
        <app-license-info></app-license-info>
        <app-license-editor></app-license-editor>
        <app-license-user></app-license-user>
    </div>

    <div class="qmc-page--content-footer">
        <button class="btn btn-primary">
            apply
        </button>
    </div>
</ng-template>

<!-- if installation is invalid display error page -->
<ng-template #errorTemplate>
    <div class="qmc-page--content-body">
        <app-license-error [errors]="errors"></app-license-error>
    </div>

    <div class="qmc-page--content-footer">
        <button class="btn btn-primary" (click)="reload()">
            reload
        </button>
    </div>
</ng-template>

<!-- @todo rework template to handle reloading and only refresh current contents -->
<div class="qmc-page">
    <div class="qmc-page--content">

        <ng-container *ngIf="ready">
            <ng-container *ngTemplateOutlet="isInstallationInvalid?errorTemplate:licenseTemplate">
            </ng-container>
        </ng-container>

        <ng-container *ngIf="!ready">
            <div class="qmc-page--content-body">
            </div>
            <div class="qmc-page--content-footer">
                <button class="btn btn-primary">
                    reload
                </button>
            </div>
        </ng-container>
    </div>
</div>