:host {
    width: 100%;

    .license-block {

        border-bottom: 1px solid #CCC;
        margin: 0 0 .8rem;

        .qmc-page--content-header {
            font-size: 12px;
            padding: 0 0 5px;
            font-weight: bold;
            text-transform: uppercase;

            &:last-child {
                border: 0;
            }
        }
    }
}
