<smc-ui--page [disablePadding]="true" [loading]="isLoading">

  <!-- page header -->
  <div page-content--header>
    <smc-ui--list-header [selected]=selection.selected.length [showing]=apps.length [total]=apps.length [disableActions]="true" (reload)="reloadList()">
      <ng-container list-header--title>
        <span>
          <i class="ser-icon ser-icon--apps"></i>
          {{'SMC_APPS.LIST.HEADER' | translate}}
        </span>
      </ng-container>
    </smc-ui--list-header>
  </div>

  <!-- page content -->
  <div page-content--body>
    <table class="table" *ngIf="apps.length && !isLoading" mat-table [dataSource]="apps">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let app"> {{app.name}} </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Document ID </th>
        <td mat-cell *matCellDef="let app"> {{app.id}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
      <tr mat-row *matRowDef="let row; columns: tableHeaders;" smcMouseDblClick (dblClick)="editApp()" [ngClass]="{'selected': selection.isSelected(row)}"
        (click)="selectApp(row)">
    </table>
  </div>

  <div page-content--footer>
    <smc-ui--button-navbar>
      <smc-ui--button (click)="editApp()"   [label]="'SMC_APPS.LIST.ACTIONS.EDIT' | translate"></smc-ui--button>
      <smc-ui--button (click)="createApp()" [label]="'SMC_APPS.LIST.ACTIONS.NEW'  | translate"></smc-ui--button>
      <smc-ui--button (click)="syncApps()"  [label]="'SMC_APPS.LIST.ACTIONS.SYNC' | translate"></smc-ui--button>
    </smc-ui--button-navbar>
  </div>

</smc-ui--page>
