body {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main main'
        'menu footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;

    div {
        padding: 20px 0;
    }

    .header {
        text-align: center;
        grid-area: header;
        background-color: aqua;
    }

    .sidbar {
        grid-area: menu;
        background-color: bisque;
    }

    .content {
        grid-area: main;
        background-color: darkgrey;
    }

    .footer {
        grid-area: footer;
        background-color: darkgoldenrod;
    }
}