<html>

    <head>
        <link rel="stylesheet" href="./ser-web-management.css">
    </head>

    <body ng-app="app" ng-controller="RootCtrl as vm">
        <div class="header">
            <h1>{{vm.title}}</h1>
        </div>

        <div class="sidbar">
            <ul class="lui-list">
                <li class="lui-list__item">
                    <span class="lui-list__text">Process Task Explorer</span>
                </li>
                <li class="lui-list__item">
                    <span class="lui-list__text">SER Tasks</span>
                </li>
            </ul>
        </div>

        <div class="content">
                <button ng-click="vm.createAppList()">Fetch</button>
                <button ng-click="vm.createNewTaskApp()">Add new App</button>
                {{vm.appsManagerController.showFetchAppRegion}}
                <div ng-if="vm.appsManagerController.showFetchAppRegion">
                    <ul>
                        <li ng-repeat="appEntry in vm.appsManagerController.appList">
                            {{appEntry.appName}}
                            <button>remove</button>
                            <button ng-click="vm.appsManagerController.changeApplication(appEntry.appId)">change</button>
                            <button>create Task</button>
                        </li>
                    </ul>

                    <div ng-if="vm.appsManagerController.showSerReportContent">
                        <button ng-click="vm.appsManagerController.openReportSection('Connection')">Connection</button>
                        <button ng-click="vm.appsManagerController.openReportSection('Template')">Template</button>
                        <button ng-click="vm.appsManagerController.openReportSection('Distribution')">Distribution</button>
                        <button ng-click="vm.appsManagerController.openReportSection('General')">General</button>

                        <div ng-if="vm.appsManagerController.showSerReportConnection">
                                Server Uri: <input ng-model="vm.appsManagerController.serReport.connections.serverUri" type="text">
                                App Name: <input ng-model="vm.appsManagerController.serReport.connections.app" type="text">
                                SSl Valid URL: <input ng-model="vm.appsManagerController.serReport.connections.sslValidThumbprints.url" type="text">
                                SSl Valid Thumbprint: <input ng-model="vm.appsManagerController.serReport.connections.sslValidThumbprints.thumbprint" type="text">
                                Shared Session: <input ng-model="vm.appsManagerController.serReport.connections.sharedSession" type="checkbox">
                        </div>
                        <div ng-if="vm.appsManagerController.showSerReportGeneral">
                            cleanupTimeOut: <input ng-model="vm.appsManagerController.general.cleanupTimeOut" type="number">
                            timeout: <input ng-model="vm.appsManagerController.general.timeout" type="number">
                            errorRepeatCount: <input ng-model="vm.appsManagerController.general.errorRepeatCount" type="number">
                        </div>
                        <div ng-if="vm.appsManagerController.showSerReportDistribution">
                            <div ng-if="typeof(vm.appsManagerController.serReport.distribute.hub)!=='undefined'">
                                hub
                                owner: <input ng-model="vm.appsManagerController.serReport.distribute.hub.owner" type="text">
                                mode: <input ng-model="vm.appsManagerController.serReport.distribute.hub.mode" type="text">
                                connections: <input ng-model="vm.appsManagerController.serReport.distribute.hub.connections" type="text">
                            </div>
                            <div ng-if="typeof(vm.appsManagerController.serReport.distribute.mail)!=='undefined'">
                                mail
                                mail subject
                                <input type="text" ng-model="vm.appsManagerController.serReport.distribute.mail.subject">

                                mail message
                                <textarea ng-model="vm.appsManagerController.serReport.distribute.mail.message"></textarea>

                                <div ng-if="typeof(vm.appsManagerController.serReport.distribute.mail.mailServer)!=='undefined'">

                                    mail host
                                    <input type="text" 
                                        ng-model="vm.appsManagerController.serReport.distribute.mail.mailServer.host">

                                    mail from
                                    <input type="text" 
                                        ng-model="vm.appsManagerController.serReport.distribute.mail.mailServer.from">

                                    mail port
                                    <input type="text" 
                                        ng-model="vm.appsManagerController.serReport.distribute.mail.mailServer.port">

                                    mail username
                                    <input type="text" 
                                        ng-model="vm.appsManagerController.serReport.distribute.mail.mailServer.username">

                                    mail password
                                    <input type="text" 
                                        ng-model="vm.appsManagerController.serReport.distribute.mail.mailServer.password">

                                </div>
                            </div>
                            <div ng-if="typeof(vm.appsManagerController.serReport.distribute.file)!=='undefined'">
                                file
                                target: <input ng-model="vm.appsManagerController.serReport.distribute.file.target" type="text">
                                mode: <input ng-model="vm.appsManagerController.serReport.distribute.file.mode" type="text">
                                connections: <input ng-model="vm.appsManagerController.serReport.distribute.file.connections" type="text">
                            </div>
                        </div>
                        <div ng-if="vm.appsManagerController.showSerReportTemplate">
                                Input: <input ng-model="vm.appsManagerController.serReport.template.input" type="text">
                                output: <input ng-model="vm.appsManagerController.serReport.template.output" type="text">
                                outputFormat: <input ng-model="vm.appsManagerController.serReport.template.outputFormat" type="text">
                                outputPassword: <input ng-model="vm.appsManagerController.serReport.template.outputPassword" type="text">
                                Selections:
                                <div ng-repeat="selection in vm.appsManagerController.serReport.template.selections">
                                    name: <input ng-model="selection.name" type="text">
                                    objectType: <input ng-model="selection.objectType" type="text">
                                    values: <input ng-model="selection.values" type="text">
                                    type: <input ng-model="selection.type" type="text">
                                </div>
                        </div>

                        <button ng-click="vm.appsManagerController.applyChanges()">Apply Changes</button>

                    </div>

                </div>

                <div ng-if="vm.createAppManagerController.showCreateAppRegion">
                    appName
                    <input type="text" ng-model="vm.createAppManagerController.appName">

                    <ul ng-if="vm.createAppManagerController.appList.length > 0">
                        <li ng-repeat="app in vm.createAppManagerController.appList track by $index"
                            ng-click="vm.createAppManagerController.appReferenceName = app.name">
                            {{app.name}}
                        </li>
                    </ul>

                    <ul ng-if="vm.createAppManagerController.contentLibList.qItems.length > 0">
                        <li ng-repeat="lib in vm.createAppManagerController.contentLibList.qItems track by $index"
                            ng-click="vm.createAppManagerController.loadContentForLib(lib.qName); vm.createAppManagerController.contentLib = lib.qName">
                            {{lib.qName}}
                        </li>
                    </ul>

                    <ul ng-if="vm.createAppManagerController.contentList.qItems.length > 0">
                        <li ng-repeat="content in vm.createAppManagerController.contentList.qItems track by $index"
                            ng-click="vm.createAppManagerController.content=content.qUrl">
                            {{content.qUrl}}
                        </li>
                    </ul>
                    <div>
                        app
                        <input type="text" ng-model="vm.createAppManagerController.appReferenceName">
                        contentLib
                        <input type="text" ng-model="vm.createAppManagerController.contentLib">
                        content
                        <input type="text" ng-model="vm.createAppManagerController.content">

                        
                        <button ng-click="vm.createAppManagerController.showDistributeSection()">Add Distribution</button>
                        <button ng-click="vm.createAppManagerController.showSelectionSection()">Add Selection</button>

                        <!-- Selection Section -->
                        <div ng-if="vm.createAppManagerController.showSelectionRegion" class="SelectionContent">
                            <ul>
                                <li ng-click="vm.createAppManagerController.selection.type = 'dynamic'">dynamic</li>
                                <li ng-click="vm.createAppManagerController.selection.type = 'static'">static</li>
                            </ul>

                            <ul ng-if="vm.createAppManagerController.selection.type === 'static'">
                                <li ng-click="vm.createAppManagerController.selection.objectType = 'field'">field</li>
                                <li ng-click="vm.createAppManagerController.selection.objectType = 'bookmark'">bookmark</li>
                            </ul>

                            objectType
                            <input type="text"
                                   ng-if="vm.createAppManagerController.selection.type === 'static'"
                                   ng-model="vm.createAppManagerController.selection.objectType">

                            field or bookmark name
                            <input type="text" 
                                   ng-model="vm.createAppManagerController.selection.name"
                                   ng-if="vm.createAppManagerController.selection.type.length!==0">

                            values
                            <input type="text" 
                                   ng-model="vm.createAppManagerController.selection.values"
                                   ng-if="vm.createAppManagerController.selection.type === 'static'">

                            <button ng-click="vm.createAppManagerController.addSelection()">Apply</button>
                            <button ng-click="vm.createAppManagerController.clearSelectionObtions()">Cancel</button>

                        </div>


                        <!-- Distribute Section -->
                        <div ng-if="vm.createAppManagerController.showDistributeRegion" class="DistributeContent">
                            <ul>
                                <li ng-click="vm.createAppManagerController.distributeMode='hub'">Hub</li>
                                <li ng-click="vm.createAppManagerController.distributeMode='mail'">Mail</li>
                                <li ng-click="vm.createAppManagerController.distributeMode='file'">File</li>
                            </ul>

                            <div ng-if="vm.createAppManagerController.distributeMode==='hub'">
                                owner
                                <input type="text" ng-model="vm.createAppManagerController.distribute.owner">
                                <ul>
                                    <li ng-click="vm.createAppManagerController.distribute.mode='DeleteAllFirst'">DeleteAllFirst</li>
                                    <li ng-click="vm.createAppManagerController.distribute.mode='Override'">Override</li>
                                    <li ng-click="vm.createAppManagerController.distribute.mode='CreateOnly'">CreateOnly</li>
                                </ul>
                                Distribute Mode
                                <input type="text" ng-model="vm.createAppManagerController.distribute.mode">
                            </div>

                            <div ng-if="vm.createAppManagerController.distributeMode==='file'">

                                <ul>
                                    <li ng-click="vm.createAppManagerController.distribute.mode='DeleteAllFirst'">DeleteAllFirst</li>
                                    <li ng-click="vm.createAppManagerController.distribute.mode='Override'">Override</li>
                                    <li ng-click="vm.createAppManagerController.distribute.mode='CreateOnly'">CreateOnly</li>
                                </ul>
                                Distribute Mode
                                <input type="text" ng-model="vm.createAppManagerController.distribute.mode">

                                <ul>
                                    <li ng-repeat="connection in vm.createAppManagerController.connectionList"
                                        ng-click="vm.createAppManagerController.distribute.target = connection.qName">
                                        {{connection.qName}}
                                    </li>
                                </ul>
                                Connection
                                <input type="text" ng-model="vm.createAppManagerController.distribute.target">
                            </div>

                            <div ng-if="vm.createAppManagerController.distributeMode==='mail'">

                                mail subject
                                <input type="text" ng-model="vm.createAppManagerController.distribute.subject">

                                mail message
                                <textarea ng-model="vm.createAppManagerController.distribute.message"></textarea>

                                <div ng-if="typeof(vm.createAppManagerController.distribute.mailServer)!=='undefined'">

                                    mail host
                                    <input type="text" 
                                        ng-model="vm.createAppManagerController.distribute.mailServer.host">

                                    mail from
                                    <input type="text" 
                                        ng-model="vm.createAppManagerController.distribute.mailServer.from">

                                    mail port
                                    <input type="text" 
                                        ng-model="vm.createAppManagerController.distribute.mailServer.port">

                                    mail username
                                    <input type="text" 
                                        ng-model="vm.createAppManagerController.distribute.mailServer.username">

                                    mail password
                                    <input type="text" 
                                        ng-model="vm.createAppManagerController.distribute.mailServer.password">

                                </div>
                            </div>

                            <button ng-click="vm.createAppManagerController.addDistribution()">Apply</button>
                            <button ng-click="vm.createAppManagerController.clearDistributeObtions()">Cancel</button>
                        </div>

                        
                        <button ng-click="vm.createAppManagerController.createSerApp()">Create App</button>
                        <button ng-click="vm.createAppManagerController.showSerJson()">ShowJson</button>

                        </br>
                        {{vm.createAppManagerController.serJson}}

                    </div>
                </div>
        </div>

        <div class="footer">
            footer
        </div>
        <script src="./ser-web-management.js"></script>

    </body>

</html>

