<div>
  <mat-form-field>
    <input type="text" matInput placeholder="foobar" #inputField (keyUp.enter)="addValue($event)" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)">
      <mat-option *ngFor="let option of source" [value]="option">
        {{option.title}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div class="selections">
  <smc-ui--button *ngFor="let item of items; let i = index" [closeAble]="true" (close)="doRemove(i)">{{item.title}}</smc-ui--button>
</div>
