<div>
  <mat-form-field>

    <input type="text" matInput placeholder="foobar" #inputField (keyUp.enter)="addValue($event)" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)">

      <!-- AUTO COMPLETE FOR GROUPS -->
      <ng-container *ngIf="isGrouped">
        <mat-optgroup *ngFor="let group of source" [label]="group.name">
          <mat-option *ngFor="let item of group.items" [value]="item">
            {{item.title}}
          </mat-option>
        </mat-optgroup>
      </ng-container>

      <!-- AUTO COMPLETE LISTS -->
      <ng-container *ngIf="!isGrouped">
        <mat-option *ngFor="let item of source.items" [value]="item">
          {{item.title}}
        </mat-option>
      </ng-container>

    </mat-autocomplete>
  </mat-form-field>
</div>
<div class="selections">
  <smc-ui--button *ngFor="let item of items; let i = index" [closeAble]="true" (close)="doRemove(i)">{{item.title}}</smc-ui--button>
</div>
