<nav class="pagination" *ngIf="pageItems.length > 1">

    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn--prev-page" (click)="goPrevPage()">
            </button>
            <button *ngFor='let pageItem of pageItems' (click)='setPage(pageItem.content)' [class.active]='pageItem.isActive' class='btn'>
                <a>
                    {{pageItem.content}}
                </a>
            </button>
            <button class="btn btn--next-page" (click)="goNextPage()">
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
</nav>